.logo-image{
    width: 150px;
}
.search-image{
    width: 25px;
}
.search-icon-btn:hover{
    background-color: transparent;
}
.green-border{
    border-color: green;
}
.nav-link, .dropdown-item{
    cursor: pointer;
}
.drop-down-btn, .drop-down-btn:hover{
 color: white;;
}