.heading-text{
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: rgb(248, 103, 103);
}
.news-articles {
    align-items: center;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }